@model IEnumerable<SpreadsheetToSQL.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<br />


<br />

@using (Html.BeginForm(
    actionName: "Index",
    controllerName: "Home",
    method: FormMethod.Post,
    htmlAttributes: new { enctype = "multipart/form-data", style = "display: flex" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

<br />

<p class="text-success">@ViewBag.Message</p>


<br />

@if (Model != null && Model.Count() > 0)
{

    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().LotNumber)</th>
            <th>@Html.DisplayNameFor(m => m.First().Make)</th>
            <th>@Html.DisplayNameFor(m => m.First().Model)</th>
            <th>@Html.DisplayNameFor(m => m.First().Year)</th>
            <th>@Html.DisplayNameFor(m => m.First().Color)</th>
        </tr>
            @foreach (var car in Model)
            {
        <tr>
            <td>@car.LotNumber</td>
            <td>@car.Make</td>
            <td>@car.Model</td>
            <td>@car.Year</td>
            <td>@car.Color</td>
        </tr>
            }
    </table>
}
